# Pré-processamento dos dados das exportações do RN

## Etapa 1 - Limpeza dos dados
<img height="200" src="https://share-eric.eu/fileadmin/_processed_/b/5/csm_dataheader_ec9ee966be.jpg" width="600"/>

# Carregando base de dados das exportações do RN

In [96]:
import pandas as pd

# Carrega excel em um dataframe
dataset_exportacoes_rn_continente = pd.read_csv('../../../data/raw/V_EXPORTACAO_GERAL_1997-01_2024-12_CONTINENTE_EXCEL.csv')
dataset_exportacoes_rn_blocos_economicos = pd.read_csv('../../../data/raw/V_EXPORTACAO_GERAL_1997-01_2024-12_BLOCOS_ECONOMICOS_EXCEL.csv')
dataset_exportacoes_rn_continente_outubro = pd.read_csv('../../../data/raw/V_EXPORTACAO_GERAL_2024-10_2024-12_DT20241122.csv')
dataset_exportacoes_rn_continente

,Ano,Mês,UF do Produto,Bloco Econômico,Países,Via,URF,Código NCM,Descrição NCM,Código SH6,...,Código SH4,Descrição SH4,Código SH2,Descrição SH2,Código Seção,Descrição Seção,Unidade estatística,Valor US$ FOB,Quilograma Líquido,Quantidade Estatística
0,2024,09. Setembro,Rio Grande do Norte,Europa,Países Baixos (Holanda),AEREA,0817600 - AEROPORTO INTERNACIONAL DE SAO PAULO...,13021999,Outros sucos e extratos vegetais,130219,...,1302,"Sucos e extractos vegetais; matérias pécticas,...",13,"Gomas, resinas e outros sucos e extratos vegetais",II,Produtos do reino vegetal,QUILOGRAMA LIQUIDO,3,0,0
1,2024,01. Janeiro,Rio Grande do Norte,Europa,Portugal,AEREA,0817600 - AEROPORTO INTERNACIONAL DE SAO PAULO...,49111090,"Outros impressos publicitários, catálogos come...",491110,...,4911,"Outros impressos, incluídas as estampas, gravu...",49,"Livros, jornais, gravuras e outros produtos da...",X,Pastas de madeira ou de outras matérias fibros...,QUILOGRAMA LIQUIDO,5,0,0
2,2024,01. Janeiro,Rio Grande do Norte,Europa,Portugal,AEREA,0817600 - AEROPORTO INTERNACIONAL DE SAO PAULO...,96110000,"Carimbos, incluindo os datadores e numeradores...",961100,...,9611,"Carimbos, incluindo os datadores e numeradores...",96,Obras diversas,XX,Mercadorias e produtos diversos,QUILOGRAMA LIQUIDO,5,0,0
3,2024,01. Janeiro,Rio Grande do Norte,Europa,Portugal,AEREA,0817600 - AEROPORTO INTERNACIONAL DE SAO PAULO...,61071200,"Cuecas e ceroulas, de malha, de uso masculino,...",610712,...,6107,"Cuecas, ceroulas, camisas de noite, pijamas, r...",61,"Vestuário e seus acessórios, de malha",XI,Matérias têxteis e suas obras,NUMERO (UNIDADE),5,0,1
4,2024,01. Janeiro,Rio Grande do Norte,Europa,Portugal,AEREA,0817600 - AEROPORTO INTERNACIONAL DE SAO PAULO...,61072900,"Camisolões e pijamas, de malha, de uso masculi...",610729,...,6107,"Cuecas, ceroulas, camisas de noite, pijamas, r...",61,"Vestuário e seus acessórios, de malha",XI,Matérias têxteis e suas obras,NUMERO (UNIDADE),5,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57130,1997,05. Maio,Rio Grande do Norte,África,Nigéria,MARITIMA,0420151 - AREIA BRANCA,25010090,"Outros tipos de sal, cloreto de sódio puro e á...",250100,...,2501,Sal (incluídos o sal de mesa e o sal desnatura...,25,"Sal; enxofre; terras e pedras; gesso, cal e ci...",V,Produtos minerais,QUILOGRAMA LIQUIDO,424298,24958710,24959
57131,1997,10. Outubro,Rio Grande do Norte,América do Norte,Estados Unidos,MARITIMA,0420151 - AREIA BRANCA,25010011,"Sal marinho, a granel, sem agregados",250100,...,2501,Sal (incluídos o sal de mesa e o sal desnatura...,25,"Sal; enxofre; terras e pedras; gesso, cal e ci...",V,Produtos minerais,QUILOGRAMA LIQUIDO,341000,31000000,31000
57132,1997,08. Agosto,Rio Grande do Norte,América do Norte,Estados Unidos,MARITIMA,0420151 - AREIA BRANCA,25010011,"Sal marinho, a granel, sem agregados",250100,...,2501,Sal (incluídos o sal de mesa e o sal desnatura...,25,"Sal; enxofre; terras e pedras; gesso, cal e ci...",V,Produtos minerais,QUILOGRAMA LIQUIDO,396000,36000000,36000
57133,1997,02. Fevereiro,Rio Grande do Norte,América do Norte,Estados Unidos,MARITIMA,0420151 - AREIA BRANCA,25010011,"Sal marinho, a granel, sem agregados",250100,...,2501,Sal (incluídos o sal de mesa e o sal desnatura...,25,"Sal; enxofre; terras e pedras; gesso, cal e ci...",V,Produtos minerais,QUILOGRAMA LIQUIDO,436680,36000000,36000
57134,1997,01. Janeiro,Rio Grande do Norte,América do Norte,Estados Unidos,MARITIMA,0420151 - AREIA BRANCA,25010011,"Sal marinho, a granel, sem agregados",250100,...,2501,Sal (incluídos o sal de mesa e o sal desnatura...,25,"Sal; enxofre; terras e pedras; gesso, cal e ci...",V,Produtos minerais,QUILOGRAMA LIQUIDO,436680,36000000,36000

# 1. Leitura e Inspeção Inicial

## 1.1 Verificando os tipos dos dados

In [97]:
from IPython.display import display
import pandas as pd

# Exibe o resultado
pd.DataFrame({
    'Tipos dos dados dataset continente': dataset_exportacoes_rn_continente.dtypes,
    #'Tipos dos dados dataset blocos econômicos': dataset_exportacoes_rn_blocos_economicos.dtypes,
    'Tipos dos dados dataset OUTUBRO': dataset_exportacoes_rn_continente_outubro.dtypes
})

,Tipos dos dados dataset continente,Tipos dos dados dataset OUTUBRO
Ano,int64,int64
Bloco Econômico,object,object
Código NCM,int64,int64
Código SH2,int64,int64
Código SH4,int64,int64
Código SH6,int64,int64
Código Seção,object,object
Descrição NCM,object,object
Descrição SH2,object,object
Descrição SH4,object,object
Descrição SH6,object,object
Descrição Seção,object,object
Mês,object,object
Países,object,object
Quantidade Estatística,int64,int64
Quilograma Líquido,int64,int64
UF do Produto,object,object
URF,object,object
Unidade estatística,object,object
Valor US$ FOB,int64,int64
Via,object,object

## 1.2 Verificando dados ausentes

In [98]:
print(f"Dados ausentes no dataset por continentes? {dataset_exportacoes_rn_continente.isnull().any().any()}")
#print(f"Dados ausentes no dataset por blocos econômicos? {dataset_exportacoes_rn_blocos_economicos.isnull().any().any()}")
print(f"Dados ausentes no dataset por continentes de outubro? {dataset_exportacoes_rn_continente_outubro.isnull().any().any()}")

Dados ausentes no dataset por continentes? False
Dados ausentes no dataset por continentes de outubro? False

## Não há dados faltantes

## 1.3 Verificando valores nulos

In [99]:
# Filtrando as transações onde "Valor US$ FOB" é igual a 0
transacoes_zero_fob_continentes = dataset_exportacoes_rn_continente[dataset_exportacoes_rn_continente['Valor US$ FOB'] == 0]
#transacoes_zero_fob_blocos = dataset_exportacoes_rn_blocos_economicos[dataset_exportacoes_rn_blocos_economicos['Valor US$ FOB'] == 0]
transacoes_zero_fob_continentes_outubro = dataset_exportacoes_rn_continente_outubro[dataset_exportacoes_rn_continente_outubro['Valor US$ FOB'] == 0]
print("Quantidade de transações nulas:")
print("Dataset continentes: ", len(transacoes_zero_fob_continentes))
print("Dataset continentes: ", len(transacoes_zero_fob_continentes_outubro))
#print("Dataset blocos:", len(transacoes_zero_fob_blocos))

Quantidade de transações nulas:
Dataset continentes:  29
Dataset continentes:  0

## 1.4 Dropando linhas em que o valor fob é nulo

In [100]:
# Filtrando as transações onde "Valor US$ FOB" é igual a 0
df_exportacoes_rn_continente = dataset_exportacoes_rn_continente[dataset_exportacoes_rn_continente['Valor US$ FOB'] != 0]
df_exportacoes_rn_blocos = dataset_exportacoes_rn_blocos_economicos[dataset_exportacoes_rn_blocos_economicos['Valor US$ FOB'] != 0]

transacoes_zero_fob_continentes_drop = df_exportacoes_rn_continente[df_exportacoes_rn_continente['Valor US$ FOB'] == 0]
transacoes_zero_fob_blocos_drop = df_exportacoes_rn_blocos[df_exportacoes_rn_blocos['Valor US$ FOB'] == 0]

print("Quantidade de transações nulas após drop:")
print("Dataset continentes: ", len(transacoes_zero_fob_continentes_drop))
print("Dataset blocos:", len(transacoes_zero_fob_blocos_drop))

Quantidade de transações nulas após drop:
Dataset continentes:  0
Dataset blocos: 0

# 2. Correção e Conversão de Tipos dos Dados

## 2.1 Converter colunas para tipo adequado

In [101]:
df_exportacoes_rn_continente.head()

,Ano,Mês,UF do Produto,Bloco Econômico,Países,Via,URF,Código NCM,Descrição NCM,Código SH6,...,Código SH4,Descrição SH4,Código SH2,Descrição SH2,Código Seção,Descrição Seção,Unidade estatística,Valor US$ FOB,Quilograma Líquido,Quantidade Estatística
0,2024,09. Setembro,Rio Grande do Norte,Europa,Países Baixos (Holanda),AEREA,0817600 - AEROPORTO INTERNACIONAL DE SAO PAULO...,13021999,Outros sucos e extratos vegetais,130219,...,1302,"Sucos e extractos vegetais; matérias pécticas,...",13,"Gomas, resinas e outros sucos e extratos vegetais",II,Produtos do reino vegetal,QUILOGRAMA LIQUIDO,3,0,0
1,2024,01. Janeiro,Rio Grande do Norte,Europa,Portugal,AEREA,0817600 - AEROPORTO INTERNACIONAL DE SAO PAULO...,49111090,"Outros impressos publicitários, catálogos come...",491110,...,4911,"Outros impressos, incluídas as estampas, gravu...",49,"Livros, jornais, gravuras e outros produtos da...",X,Pastas de madeira ou de outras matérias fibros...,QUILOGRAMA LIQUIDO,5,0,0
2,2024,01. Janeiro,Rio Grande do Norte,Europa,Portugal,AEREA,0817600 - AEROPORTO INTERNACIONAL DE SAO PAULO...,96110000,"Carimbos, incluindo os datadores e numeradores...",961100,...,9611,"Carimbos, incluindo os datadores e numeradores...",96,Obras diversas,XX,Mercadorias e produtos diversos,QUILOGRAMA LIQUIDO,5,0,0
3,2024,01. Janeiro,Rio Grande do Norte,Europa,Portugal,AEREA,0817600 - AEROPORTO INTERNACIONAL DE SAO PAULO...,61071200,"Cuecas e ceroulas, de malha, de uso masculino,...",610712,...,6107,"Cuecas, ceroulas, camisas de noite, pijamas, r...",61,"Vestuário e seus acessórios, de malha",XI,Matérias têxteis e suas obras,NUMERO (UNIDADE),5,0,1
4,2024,01. Janeiro,Rio Grande do Norte,Europa,Portugal,AEREA,0817600 - AEROPORTO INTERNACIONAL DE SAO PAULO...,61072900,"Camisolões e pijamas, de malha, de uso masculi...",610729,...,6107,"Cuecas, ceroulas, camisas de noite, pijamas, r...",61,"Vestuário e seus acessórios, de malha",XI,Matérias têxteis e suas obras,NUMERO (UNIDADE),5,0,1

In [102]:
df_exportacoes_rn_blocos.head()

,Ano,Mês,UF do Produto,Bloco Econômico,Países,Via,URF,Código NCM,Descrição NCM,Código SH6,...,Unidade estatística,Valor US$ FOB,Quilograma Líquido,Quantidade Estatística,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,2024,09. Setembro,Rio Grande do Norte,Associação de Nações do Sudeste Asiático - ASEAN,Malásia,MARITIMA,0817800 - PORTO DE SANTOS,39159000,"Desperdícios, resíduos e aparas, de outros plá...",391590,...,Borracha e suas obras,QUILOGRAMA LIQUIDO,29295,21000,21000,NaN,NaN,NaN,NaN,NaN
1,2024,09. Setembro,Rio Grande do Norte,Associação de Nações do Sudeste Asiático - ASEAN,Vietnã,AEREA,0420154 - IRF NATAL,12119090,"Outras plantas e partes, para perfumaria, medi...",121190,...,QUILOGRAMA LIQUIDO,52000,1300,1300,NaN,NaN,NaN,NaN,NaN,NaN
2,2024,09. Setembro,Rio Grande do Norte,Comunidade Andina das Nações - CAN,Colômbia,AEREA,0817600 - AEROPORTO INTERNACIONAL DE SAO PAULO...,39269090,Outras obras de plásticos,392690,...,Borracha e suas obras,QUILOGRAMA LIQUIDO,1924,125,125,NaN,NaN,NaN,NaN,NaN
3,2024,09. Setembro,Rio Grande do Norte,Comunidade Andina das Nações - CAN,Colômbia,AEREA,0817600 - AEROPORTO INTERNACIONAL DE SAO PAULO...,52092200,Tecidos de algodão que contenham pelo menos 85...,520922,...,QUILOGRAMA LIQUIDO,5274,624,624,NaN,NaN,NaN,NaN,NaN,NaN
4,2024,09. Setembro,Rio Grande do Norte,Comunidade Andina das Nações - CAN,Colômbia,AEREA,0817600 - AEROPORTO INTERNACIONAL DE SAO PAULO...,63079090,Outros artefatos têxteis confeccionados,630790,...,QUILOGRAMA LIQUIDO,411,25,25,NaN,NaN,NaN,NaN,NaN,NaN

## 2.2 Juntar "Ano" e "Mês" em uma unica coluna "Data"

### 2.2.1 Transformando coluna "Mês" em dado numérico

In [103]:
dataset_exportacoes_rn_blocos_economicos['Mês'] = dataset_exportacoes_rn_blocos_economicos['Mês'].str.extract(r'(\d+)').astype(int)
dataset_exportacoes_rn_continente['Mês'] = dataset_exportacoes_rn_continente['Mês'].str.extract(r'(\d+)').astype(int)
dataset_exportacoes_rn_continente_outubro['Mês'] = dataset_exportacoes_rn_continente_outubro['Mês'].str.extract(r'(\d+)').astype(int)

In [104]:
# Renomeando temporariamente as colunas
dataset_exportacoes_rn_blocos_economicos = dataset_exportacoes_rn_blocos_economicos.rename(columns={'Ano': 'year', 'Mês': 'month'})
dataset_exportacoes_rn_continente = dataset_exportacoes_rn_continente.rename(columns={'Ano': 'year', 'Mês': 'month'})
dataset_exportacoes_rn_continente_outubro = dataset_exportacoes_rn_continente_outubro.rename(columns={'Ano': 'year', 'Mês': 'month'})

# Criando a coluna 'Mês/Ano' como datetime
dataset_exportacoes_rn_blocos_economicos['Data'] = pd.to_datetime(dataset_exportacoes_rn_blocos_economicos[['year', 'month']].assign(day=1))
dataset_exportacoes_rn_continente['Data'] = pd.to_datetime(dataset_exportacoes_rn_continente[['year', 'month']].assign(day=1))
dataset_exportacoes_rn_continente_outubro['Data'] = pd.to_datetime(dataset_exportacoes_rn_continente_outubro[['year', 'month']].assign(day=1))

# Renomeando de volta
dataset_exportacoes_rn_blocos_economicos = dataset_exportacoes_rn_blocos_economicos.rename(columns={'year': 'Ano', 'month': 'Mês'})
dataset_exportacoes_rn_continente = dataset_exportacoes_rn_continente.rename(columns={'year': 'Ano', 'month': 'Mês'})
dataset_exportacoes_rn_continente_outubro = dataset_exportacoes_rn_continente_outubro.rename(columns={'year': 'Ano', 'month': 'Mês'})

# Dropa colunas Mês e Ano
# Blocos economicos
dataset_exportacoes_rn_blocos_economicos = dataset_exportacoes_rn_blocos_economicos.drop("Ano", axis=1)
dataset_exportacoes_rn_blocos_economicos = dataset_exportacoes_rn_blocos_economicos.drop("Mês", axis=1)

# Continentes
dataset_exportacoes_rn_continente = dataset_exportacoes_rn_continente.drop("Ano", axis=1)
dataset_exportacoes_rn_continente = dataset_exportacoes_rn_continente.drop("Mês", axis=1)

# Outubro
dataset_exportacoes_rn_continente_outubro = dataset_exportacoes_rn_continente_outubro.drop("Ano", axis=1)
dataset_exportacoes_rn_continente_outubro = dataset_exportacoes_rn_continente_outubro.drop("Mês", axis=1)


#dataset_exportacoes_rn_blocos_economicos = dataset_exportacoes_rn_continente.drop("Unnamed: 0", axis=1)
#dataset_exportacoes_rn_continente = dataset_exportacoes_rn_continente.drop("Unnamed: 0", axis=1)
### 2.2.2 Dropando coluna UF do produto, todas as linhas são iguais

In [106]:
from IPython.display import display
import pandas as pd

# Exibe o resultado
pd.DataFrame({
    'Tipos dos dados dataset continente': dataset_exportacoes_rn_continente.dtypes,
    #'Tipos dos dados dataset blocos econômicos': dataset_exportacoes_rn_blocos_economicos.dtypes,
    'Tipos dos dados dataset OUTUBRO': dataset_exportacoes_rn_continente_outubro.dtypes
})

,Tipos dos dados dataset continente,Tipos dos dados dataset OUTUBRO
Bloco Econômico,object,object
Código NCM,int64,int64
Código SH2,int64,int64
Código SH4,int64,int64
Código SH6,int64,int64
Código Seção,object,object
Data,datetime64[ns],datetime64[ns]
Descrição NCM,object,object
Descrição SH2,object,object
Descrição SH4,object,object
Descrição SH6,object,object
Descrição Seção,object,object
Países,object,object
Quantidade Estatística,int64,int64
Quilograma Líquido,int64,int64
UF do Produto,object,object
URF,object,object
Unidade estatística,object,object
Valor US$ FOB,int64,int64
Via,object,object

In [107]:
# Dropa colunas "UF do Produto"
# Blocos economicos
dataset_exportacoes_rn_blocos_economicos = dataset_exportacoes_rn_blocos_economicos.drop("UF do Produto", axis=1)
dataset_exportacoes_rn_continente = dataset_exportacoes_rn_continente.drop("UF do Produto", axis=1)
dataset_exportacoes_rn_continente_outubro = dataset_exportacoes_rn_continente_outubro.drop("UF do Produto", axis=1)

In [108]:
from IPython.display import display
import pandas as pd

# Exibe o resultado
pd.DataFrame({
    'Tipos dos dados dataset continente': dataset_exportacoes_rn_continente.dtypes,
    #'Tipos dos dados dataset blocos econômicos': dataset_exportacoes_rn_blocos_economicos.dtypes,
    'Tipos dos dados dataset OUTUBRO': dataset_exportacoes_rn_continente_outubro.dtypes
})

,Tipos dos dados dataset continente,Tipos dos dados dataset OUTUBRO
Bloco Econômico,object,object
Código NCM,int64,int64
Código SH2,int64,int64
Código SH4,int64,int64
Código SH6,int64,int64
Código Seção,object,object
Data,datetime64[ns],datetime64[ns]
Descrição NCM,object,object
Descrição SH2,object,object
Descrição SH4,object,object
Descrição SH6,object,object
Descrição Seção,object,object
Países,object,object
Quantidade Estatística,int64,int64
Quilograma Líquido,int64,int64
URF,object,object
Unidade estatística,object,object
Valor US$ FOB,int64,int64
Via,object,object

### 2.2.2 Dropando colunas 'Via' e 'URF', não importa para o modelo

In [12]:
dataset_exportacoes_rn_blocos_economicos = dataset_exportacoes_rn_blocos_economicos.drop(["Via", "URF"], axis=1)
dataset_exportacoes_rn_continente = dataset_exportacoes_rn_continente.drop(["Via", "URF"], axis=1)

In [13]:
dataset_exportacoes_rn_continente.dtypes

Bloco Econômico                   object
Países                            object
Código NCM                         int64
Descrição NCM                     object
Código SH6                         int64
Descrição SH6                     object
Código SH4                         int64
Descrição SH4                     object
Código SH2                         int64
Descrição SH2                     object
Código Seção                      object
Descrição Seção                   object
Unidade estatística               object
Valor US$ FOB                      int64
Quilograma Líquido                 int64
Quantidade Estatística             int64
Data                      datetime64[ns]
dtype: object

## 2.3 Encoding das colunas categóricas

In [14]:
import os

# Verificar o diretório atual de trabalho
os.getcwd()

'C:\\Users\\joao1\\DataspellProjects\\analise_exportacoes_rn\\src\\notebooks\\preprocessing'

In [112]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd
import joblib

# Criação do LabelEncoder
encoder = LabelEncoder()

# Lista das colunas a serem transformadas
colunas_a_transformar = ['Bloco Econômico', 'Países','Código SH4', 'Descrição SH4', 'Código SH2', 'Descrição SH2', 'Código Seção',
                         'Descrição Seção','Unidade estatística', 'Via', 'URF']

# Aplicar LabelEncoder nas colunas selecionadas, sobrescrevendo as colunas originais
for coluna in colunas_a_transformar:
    dataset_exportacoes_rn_continente[coluna] = encoder.fit_transform(dataset_exportacoes_rn_continente[coluna])
    dataset_exportacoes_rn_continente_outubro[coluna] = encoder.fit_transform(dataset_exportacoes_rn_continente_outubro[coluna])
    dataset_exportacoes_rn_blocos_economicos[coluna] = encoder.fit_transform(dataset_exportacoes_rn_blocos_economicos[coluna])

# Salvar o encoder
joblib.dump(encoder, '../../../models/encoder/label_encoder.plk')

# Visualizar o resultado
dataset_exportacoes_rn_continente_encoded = dataset_exportacoes_rn_continente
dataset_exportacoes_rn_continente_outubro_encoded = dataset_exportacoes_rn_continente_outubro
dataset_exportacoes_rn_continente_encoded

,Bloco Econômico,Países,Via,URF,Código NCM,Descrição NCM,Código SH6,Descrição SH6,Código SH4,Descrição SH4,Código SH2,Descrição SH2,Código Seção,Descrição Seção,Unidade estatística,Valor US$ FOB,Quilograma Líquido,Quantidade Estatística,Data
0,3,117,0,68,13021999,Outros sucos e extratos vegetais,130219,Sucos e extratos de outros vegetais (mamão sec...,57,495,12,27,1,17,8,3,0,0,2024-09-01
1,3,122,0,68,49111090,"Outros impressos publicitários, catálogos come...",491110,"Impressos publicitários, catálogos comerciais ...",229,383,44,33,9,12,8,5,0,0,2024-01-01
2,3,122,0,68,96110000,"Carimbos, incluindo os datadores e numeradores...",961100,"Carimbos, datadores, numeradores, sinetes e ar...",549,98,86,46,18,7,8,5,0,0,2024-01-01
3,3,122,0,68,61071200,"Cuecas e ceroulas, de malha, de uso masculino,...",610712,"Cuecas e ceroulas, de malha, de fibras sintéti...",276,153,55,83,10,6,5,5,0,1,2024-01-01
4,3,122,0,68,61072900,"Camisolões e pijamas, de malha, de uso masculi...",610729,"Camisolões e pijamas, de malha, de outras maté...",276,153,55,83,10,6,5,5,0,1,2024-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57130,6,108,4,41,25010090,"Outros tipos de sal, cloreto de sódio puro e á...",250100,Sal (incluídos o sal de mesa e o sal desnatura...,92,484,23,76,5,18,8,424298,24958710,24959,1997-05-01
57131,1,51,4,41,25010011,"Sal marinho, a granel, sem agregados",250100,Sal (incluídos o sal de mesa e o sal desnatura...,92,484,23,76,5,18,8,341000,31000000,31000,1997-10-01
57132,1,51,4,41,25010011,"Sal marinho, a granel, sem agregados",250100,Sal (incluídos o sal de mesa e o sal desnatura...,92,484,23,76,5,18,8,396000,36000000,36000,1997-08-01
57133,1,51,4,41,25010011,"Sal marinho, a granel, sem agregados",250100,Sal (incluídos o sal de mesa e o sal desnatura...,92,484,23,76,5,18,8,436680,36000000,36000,1997-02-01
57134,1,51,4,41,25010011,"Sal marinho, a granel, sem agregados",250100,Sal (incluídos o sal de mesa e o sal desnatura...,92,484,23,76,5,18,8,436680,36000000,36000,1997-01-01

# Salvando base de dados em CSV

In [16]:
dataset_exportacoes_rn_continente_encoded.dtypes

Bloco Econômico                    int64
Países                             int64
Código NCM                         int64
Descrição NCM                     object
Código SH6                         int64
Descrição SH6                     object
Código SH4                         int64
Descrição SH4                      int64
Código SH2                         int64
Descrição SH2                      int64
Código Seção                       int64
Descrição Seção                    int64
Unidade estatística                int64
Valor US$ FOB                      int64
Quilograma Líquido                 int64
Quantidade Estatística             int64
Data                      datetime64[ns]
dtype: object

In [17]:
dataset_exportacoes_rn_continente_encoded

,Bloco Econômico,Países,Código NCM,Descrição NCM,Código SH6,Descrição SH6,Código SH4,Descrição SH4,Código SH2,Descrição SH2,Código Seção,Descrição Seção,Unidade estatística,Valor US$ FOB,Quilograma Líquido,Quantidade Estatística,Data
0,0,8,27101911,Querosenes de aviação,271019,Outros óleos de petróleo ou de minerais betumi...,119,558,25,18,5,18,2,14906,11675,15,2024-09-01
1,0,37,52093900,Outros tecidos de algodão que contenham pelo m...,520939,"Outros tecidos de algodão tinto, contendo => 8...",237,510,46,2,10,6,8,11130,1294,1294,2024-09-01
2,0,37,17049020,"Caramelos, confeitos, dropes, pastilhas, e pro...",170490,"Outros produtos de confeitaria, sem cacau",66,452,16,6,3,16,8,38824,22782,22782,2024-09-01
3,0,46,27101911,Querosenes de aviação,271019,Outros óleos de petróleo ou de minerais betumi...,119,558,25,18,5,18,2,1915,1482,2,2024-09-01
4,0,46,52092200,Tecidos de algodão que contenham pelo menos 85...,520922,"Tecido de algodão branqueado, em ponto sarjado...",237,510,46,2,10,6,8,58126,9825,9825,2024-09-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57130,6,161,17041000,"Gomas de mascar, mesmo revestidas de açúcar, s...",170410,"Gomas de mascar, sem cacau, mesmo revestidas d...",66,452,16,6,3,16,8,9696,4640,0,1997-01-01
57131,6,161,17049020,"Caramelos, confeitos, dropes, pastilhas, e pro...",170490,"Outros produtos de confeitaria, sem cacau",66,452,16,6,3,16,8,40640,30275,0,1997-01-01
57132,6,161,17049090,"Outros produtos de confeitaria, sem cacau",170490,"Outros produtos de confeitaria, sem cacau",66,452,16,6,3,16,8,34060,26720,0,1997-01-01
57133,7,75,15211000,Ceras vegetais,152110,"Ceras vegetais, mesmo refinadas ou coradas (ex...",61,111,14,28,2,2,8,45276,14000,14,1997-01-01
57134,7,84,25161200,"Granito, simplesmente cortado a serra ou por o...",251612,"Granito, cortado em blocos ou placas de forma ...",100,240,23,76,5,18,2,15649,16300,16,1997-01-01

In [114]:
dataset_exportacoes_rn_continente_encoded.to_csv("../../../data/interim/preprocessing/01_dataset_expo_rn_data_cleaning.csv", index=False)
dataset_exportacoes_rn_continente_outubro_encoded.to_csv("../../../data/interim/preprocessing/01_dataset_expo_rn_outubro_data_cleaning.csv", index=False)